body {
    position: relative;
}
.main-container {
    font-family: roboto;
    text-align: center;
    background-image: linear-gradient(to top, rgb(179, 37, 230), rgb(128, 0, 92));
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    min-height: 800px;
    width: 100%;
    margin: auto;
    position: absolute;
}

.app-name {
    color: white;
    font-weight: bold;
    font-size: 65px;
    margin-bottom: 0;
}

.motto {
    font-size: 30px;
    margin: 0px;
    color: white;
}

a {
    font-weight: bold;
    font-size: 20px;
    display: block;
    border: none;
    margin-bottom: 15px;
    border-radius: 20px;
    text-decoration: none;
    padding: 16px 100px;
}

.login-btn {
    color: black;
    background-color: white;
    margin: 20px 0px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.6);
}

.login-btn:hover {
    color: white;
    background-color: rgb(153, 13, 121);
    border: white;
}

.signup-btn {
    background: transparent;
    border: solid 1px white;
    color: white;
}

.signup-btn:hover {
    color: rgb(153, 13, 121);
    background-color: white;
    border: white 1px solid;
}

.contact {
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin-top: 80px;
}

.contact-icons {
    display: flex;
    column-gap: 15px;
}

#youtube-icon {
    width: 120px;
    display: inline;
}

#instagram-icon {
    width: 40px;
    border-radius: 10px;
}
