body {
    font-family: roboto;
    font-size: 30px;
    color: white;
    font-family: roboto;
    background-image: linear-gradient(to top, rgb(179, 37, 230), rgb(128, 0, 92));
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 30px 70px;
    padding-bottom: 14%;
    
}

a {
    width: 30px;
    height: 30px;
    margin-bottom: 40px;
}

p {
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    padding: 14% 0px;
}


.main-container img {
    width: 30px;
    display: inline-block;
}

.title {
    font-family: lato;
    font-weight: bold;
    text-align: left;
    font-size: 34px;
    margin: 0;
    margin-bottom: 50px;

}

#text {
    font-size: 20px;
    margin-bottom: 10px;
}

input {
    background: transparent;
    border: solid white 1px;
    border-radius: 20px;
    margin-bottom: 40px;
    height: 35px;
    font-size: 20px;
    color: white;
    padding-left: 15px;
}

#pwd-input {
    margin: 0;
}

::placeholder {
    color: white;
    font-size: 16px;
}

#forgot-link {
    display: inline;
    margin: 0;
    color: white;
    margin-top: 7px;
    font-size: 16px;
    width: 135px;
    cursor: pointer;
}

#forgot-link:hover {
    text-decoration: underline;
}

.signin-btn {
    margin-top: 30px;
    color: rgb(153, 13, 121);
    background-color: white;
    border: white 1px solid;
    border-radius: 15px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 15px;
}

#do-you {
    font-size: 20px;
    align-self: center;
}

#do-you span {
    cursor: pointer;
}

#do-you span:hover {
    text-decoration: underline;
}

