body {
    font-family: roboto;
    font-size: 20px;
    color: white;
    font-family: roboto;
    background-image: linear-gradient(to top, rgb(179, 37, 230), rgb(128, 0, 92));
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 50px 70px;
    padding-bottom: 14%;
}

a {
    width: 30px;
    height: 30px;
    margin-bottom: 40px;
}

p {
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.main-container img {
    width: 30px;
    display: inline-block;
}

.title {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}

.first-row {
    display: flex;
    column-gap: 30px;
    flex: 1;
}

.first-row p {
    margin-bottom: 3px;
}

.column1 {
    flex: 1;
}

.column2 {
    flex: 1;
}

.second-row p,
.third-row p,
.fourth-row p {
    margin-top: 20px;
    margin-bottom: 3px;
}

.column2 input {
    width: 92%;
}


input {
    font-size: 20px;
    width: 96%;
    background-color: transparent;
    border: solid white 3px;
    border-radius: 6px;
    height: 40px;
    color: white;
    padding: 0px 9px;
}

::placeholder {
    color: rgb(255, 154, 243);
}

.signup-btn {
    font-size: 25px;
    color: rgb(128, 0, 92);
    font-weight: bold;
    background-color: white;
    border: none;
    border-radius: 40px;
    margin-top: 30px;
    width: 30%;
    align-self: center;
    cursor: pointer;
    transition: background-color 0.15s;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px 20px; 
}

.signup-btn:hover {
    background-color: rgb(243, 193, 255);
}

.fifth-row {
    display: flex;
    align-items: left;
    justify-content: left;
    margin-top: 12px;
    vertical-align: middle;
}



#checkbox {
    margin: 0;
    height: 20px;
    width: 20px;
    cursor: pointer;
}


#show {
    display: inline-block;
    margin: 0;
    margin-left: 5px;
}
